@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4e3f63;
}

.contain-filter {
  background-image: url("../assets/Noise\ &\ Texture.svg");
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.shapes {
  background-image: url("../assets/mesh-gradient.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
  filter: blur(180px);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.header_title {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
}

.header_navbar {
  background-color: #33362f62;
  border-radius: 10px;
  border: #4f524b9f solid 1px;
  backdrop-filter: blur(40px);
  position: relative;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ebcaff;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  width: calc(100% / 3);
  text-align: center;
  transition: all 0.3s ease;
}

.navbar_link:hover {
  color: #1f1c20;
}

.active {
  color: #1f1c20;
}

.header_navbar span {
  position: absolute;
  height: 100%;
  width: calc(100% / 3);
  background-color: #92e03d;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.header_navbar .navbar_link:nth-child(1):hover ~ span,
.navbar_link {
  left: 0;
}

.header_navbar .navbar_link:nth-child(2):hover ~ span {
  left: calc(100% / 3);
}

.header_navbar .navbar_link:nth-child(3):hover ~ span {
  left: calc(100% / 3 * 2);
}

.section-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.calculator {
  background-color: #33362f17;
  padding: 20px;
  border-radius: 10px;
  border: #92e9203b solid 1px;
  min-height: 650px;
  width: 500px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.calculator_display {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100px;
  background-color: #5e4b61ef;
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid #91e03d3d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    & .previous_operand {
      font-size: 18px;
      color: #ebcaff;
    }
    & .current_operand {
      font-size: 24px;
      color: #92e03d;
    }
}

.calculator_buttons {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  gap: 10px;
}

.calculator_buttons .span-two {
  grid-column: span 2;
}

.calculator_buttons button {
  background-color: #4e3f634d;
  backdrop-filter: blur(10px);
  border: 1px solid #4f524b9f;
  border-radius: 10px;
  color: #ebcaff;
  font-size: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease;
}

.calculator_buttons button:hover,
.calculator_buttons button:focus {
  background-color: #4e3f63;
  color: #92e03d;
  border: 1px solid #92e03d;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
